<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>DashBoard</title>
        <link rel= "stylesheet" type= "text/css" href= "/static/styles/dashboard.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">



    </head>
    <body>
    <div>
        <!-- Menu -->

    <img class="ui right aligned small image " src="/static/DBLogo2.jpg">


        <div class="ui large menu " >
            <a class="active item ">
              Home
            </a>
            <a class="item">
              Messages
            </a>
            <div class="right menu">
              <div id="language_drop" class="ui dropdown item">
                Select Dashboard <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item" >DashBoard</div>
                  <div class="item" href="/user_Data.html">UserTradingData</div>
                </div>
              </div>
              <div class="item">
                  <div style="background-color:#0018A8;" class="ui primary button dbblue">Log Out</div>
              </div>
            </div>
          </div>
    </div>
<!-- DIVIDER two column -->
    <div class="ui segment col_height">
        <div class="ui two column very relaxed grid">
<!-- DIVIDER first column -->
     <div class="column">

         <!-- Filter icon-->

    <div class="sel_ins">

<div class="ui floating dropdown labeled search icon button">
  <i class="world icon"></i>
  <span class="text">Select Instrument</span>
  <div class="menu">
    <div class="item">Astronomica</div>
    <div class="item">Borealis</div>
    <div class="item">Celestial</div>
    <div class="item">Deuteronic</div>
    <div class="item">Floral</div>
    <div class="item">Galactia</div>
    <div class="item">Interstella</div>
    <div class="item">Jupiter</div>
    <div class="item">Koronis</div>
    <div class="item">Lunatic</div>


  </div>
</div>
    </div>

<!-- SELL&BUY PRICE -->
            <div class="div_2">
             <div class="ui statistic ">
                    <div class="value">
                            1,500
                        </div>
                    <div class="label">
                        Avg:Buy Side
                    </div>


                <div class="ui statistic ">
                    <div class="value">
                            2,204
                        </div>
                    <div class="label">
                        Avg:Sell Side
                    </div>
                </div>
             </div>
             </div>

    </div>
    <div class="column mid">
<!-- SECOND column -->
    <a style="left:5.5%" class="ui image label">
        <img src="/static/joe.jpg">
         Joe

    </a>
     <div class="ui statistics stat_mid">
<!-- PROFIT & LOSS -->
  <div class="red statistic">
    <div class="value">
      8500
    </div>
    <div class="label">
      Profit
    </div>
  </div>
  <div class="green statistic ">
    <div class="value">
      0
    </div>
    <div class="label">
      Loss
    </div>

  </div>

<!-- USER DEAL DATA -->

    <div class = "tab_mid" >
        <div class="ui medium header ">Your deal history</div>
        <div style="overflow-x:auto; width:300%; height:4cm; margin:auto" class="mid">

        <table  class="  ui sortable celled table " >
            <thead>

              <tr>
                <th>Deal_ID</th>
                <th>Price</th>
                <th>Instrument</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>No Action</td>
                <td>None</td>
              </tr>
              <tr>
                <td>Jamie</td>
                <td class="positive">Approved</td>
                <td class="warning">Requires call</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td class="negative">Denied</td>
                <td>None</td>
              </tr>
            <tr>
                <td>John</td>
                <td>No Action</td>
                <td>None</td>
              </tr>
              <tr>
                <td>Jamie</td>
                <td class="positive">Approved</td>
                <td class="warning">Requires call</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td class="negative">Denied</td>
                <td>None</td>
              </tr>
            <tr>
                <td>John</td>
                <td>No Action</td>
                <td>None</td>
              </tr>
              <tr>
                <td>Jamie</td>
                <td class="positive">Approved</td>
                <td class="warning">Requires call</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td class="negative">Denied</td>
                <td>None</td>
              </tr>
            </tbody>
            <tfoot>
              <tr><th>3 People</th>
              <th>2 Approved</th>
              <th></th>
            </tr></tfoot>
          </table>

        </div>

      </div>


        </div>
        <br>
    </div>
  </div>
  <div class="ui vertical divider">
    and
  </div>
</div>

<!-- Generic DEAL DATA -->
    <div>
        <div class="ui large header gen_tab_mid">HISTORIC TRADING RECORD</div>
    <div style="overflow-x:auto; width:80%; height:45%; margin:auto"; >
        <table class="ui sortable celled table">
            <thead>
                <tr>
                    <th>Deal_ID</th>
                    <th>Price</th>
                    <th>Instrument</th>
                  </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>No Action</td>
                <td>None</td>
              </tr>
              <tr>
                <td>Jamie</td>
                <td class="positive">Approved</td>
                <td class="warning">Requires call</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td class="negative">Denied</td>
                <td>None</td>
              </tr>
            </tbody>
            <tfoot>
              <tr><th>3 People</th>
              <th>2 Approved</th>
              <th></th>
            </tr></tfoot>
          </table>
      </div>
    </div>>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
       $(document).ready(function(){
            $('.ui.dropdown.item').dropdown(
            );
        });
        $(document).ready(function(){
          $('.ui.floating.dropdown.labeled.search.icon.button').dropdown()
        });


</script>

</html>