button_container {
  position: relative;
  width:80%;
}

.float_center {

  float: right;
  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}

.imglogo {
  position:absolute;
  top:0cm;
  left:0cm;
  /*height:5cm;*/

}
.div_1{

  float: right;
  position: absolute;
  left: -70%; /* or right 50% */



}
.div_2{
  position:relative;
  top: 10%;
  left : 40%;
  width: 100%;
  margin: 0 auto;


}


.dbblue{

    color:#0018A8;
}
.sel_ins
{
    position:absolute;
}
.menu_loc{

position:absolute;
top:6cm;

}

.mid{

position: absolute;
left: 0%;

}

.stat_mid{
position: relative;
left: 30%;

}

.tab_mid{
position: absolute;
left: -10%;
top:100%;

}

.tab_header
{
position:relative;
top:30%;
}

.user_deal{
position:relative;
}

.table_wrapper thead{
    position: sticky;
    top: 0;
}

.col_height{
    height:55%;

}
.gen_tab_mid
{
    position: relative;
    left:35%;

}